.container
  .row
    .col-sm-12

      %h3 Message Boards

      .message-board
        %h2 Your Topics

        = paginate @topics

        - @topics.each do |topic|
          = render partial: 'topic', :locals => {:topic => topic}
